<h2>Enter Weather Values</h2>

{% if message %}
<p>{{ message }}</p>
{% endif %}

<form method="POST">
    <label for="very_hot">Very Hot (In Degree Celsius):</label>
  <input
    type="range"
    name="very_hot"
    id="very_hot"
    min="20"
    max="100"
    step="1"
    value="35"
    oninput="updateHotValue(this.value)"
    required
  />
    <span id="hot_value">35</span>°C<br /><br />

    <label for="very_cold">Very Cold(In Degrees Celsius):</label>  
  <input
    type="range"
    name="very_cold"
    id="very_cold"
    min="-30"
    max="20"
    step="1"
    value="-10"
    oninput="updateColdValue(this.value)"
    required
  />
    <span id="cold_value">-10</span>°C<br /><br />
      <label>Very Windy(In kmph):</label>  
  <input type="number" name="very_windy" required /><br /><br />

    <label>Very Wet(In Percentage):</label>  
  <input type="number" name="very_wet" required /><br /><br />

    <button type="submit">Save</button>  
  <script>
    function updateHotValue(val) {
      document.getElementById("hot_value").innerText = val;
    }

    function updateColdValue(val) {
      document.getElementById("cold_value").innerText = val;
    }
  </script>
</form>

<a href="/logout">Logout</a>
